{% extends "eso/base.html" %}

{% block main-content %}
    <h1>Sobre Osteopatia</h1>
    <h2>Onde atuamos?</h2>
    <div>{{osteopathy_about.text_where}}</div>
    <img class="scalable-img" src="{{osteopathy_about.image_where.url}}" alt="Onde atuamos">
    <h2>A quem se destina?</h2>
    <div>{{osteopathy_about.text_who}}</div>
    <img class="scalable-img" src="{{osteopathy_about.image_who.url}}" alt="A quem se destina">
    <h2>De forma geral, procure um osteopata se apresentar:</h2>
        <ul id="osteopathy_advantages">
            {% for advantage in osteopathy_advantages %}
                <li>{{advantage.text}}</li>
            {% endfor %}
        </ul>
{% endblock %}

