{% extends "eso/base.html" %}

{% load static %}

{% block main-content %}

<h1>Marcações</h1>

<h2>PREÇÁRIO</h2>
<div>
    <table>
        <tr>
            <th class="table_empty_cell"></th>
            <th>Duração</th>
            <th>Preço</th>
        </tr>
        <tr>
            <th>1ª Consulta</th>
            <th>{{appointments_general_information.first_appointment_min_time}} - {{appointments_general_information.first_appointment_max_time}} minutos</th>
            <th>{{appointments_general_information.first_appointment_base_price}}</th>
        </tr>
        <tr>
            <th>2ª Consulta</th>
            <th>{{appointments_general_information.second_appointment_min_time}} - {{appointments_general_information.second_appointment_max_time}} minutos</th>
            <th>{{appointments_general_information.second_appointment_base_price}}</th>
        </tr>
    </table>
</div>

<ul id="appointments-descriptions">
    {% for appointment_description in appointments_descriptions %}
        <li class="list-with-decorators">{{appointment_description.text}}</li>
    {% endfor %}
</ul>

<h2>NOTAS IMPORTANTES</h2>

<ul id="appointments-important-notes">
    {% for appointments_important_note in appointments_important_notes %}
        <li class="list-with-decorators">{{appointments_important_note.text}}</li>
    {% endfor %}
</ul>

<hr>
<h2 class="centered-text">Faça a sua marcação</h2>

<div class="container-form">
    <form method="POST" name="appointment-form" action="/marcacoes/">
    {% csrf_token %}
    <div class="appointment-form-field">
        <label for="appointment-form-name">Nome: </label>
        <input type="text" id="appointment-form-name" name="name">
    </div>
    <div class="appointment-form-field">
        <label for="appointment-form-phone">Telefone: </label>
        <input type="tel" id="appointment-form-phone" name="phone">
    </div>
    <div class="appointment-form-field">
        <label for="appointment-form-email">Email(Opcional): </label>
        <input type="email" id="appointment-form-email" name="email">
    </div>
    <div class="appointment-form-field">
        <label for="appointment-form-day">Data (dd/mm/aaaa): </label>
        <input type="number" id="appointment-form-day" name="day" max="31" min="1"> /
        <input type="number" id="appointment-form-month" name="month" max="12" min="1"> /
        <input type="number" id="appointment-form-year" name="year" min="2021">
    </div>
    <div class="appointment-form-field">
        <label for="appointment-form-hour">Hora: </label>
        <input type="number" id="appointment-form-hour" name="hour" min="00" max="24"> :
        <input type="number" id="appointment-form-minutes" name="minutes" min="00" max="60"> h
    </div>
    <div class="appointment-form-field">
        <label for="appointment-form-description">Descrição do problema: </label>
        <textarea type="text" id="appointment-form-description" name="description" maxlength="500"></textarea>
    </div>
    </form>
    <button class="standard-button" id="appointment-form-button-submit" ng-click="validateAppointmentForm()" name="appointment-form">Agendar Marcação</button>
    <div id="request-response-appointment" class="hidden centered-element">
        <img src="{% static 'eso/media/ajax-loader.gif' %}" alt="loading...">
    </div>
</div>

<hr>

<h3  id="opinions-link" class="centered-text"><a href="{% url 'opinion_page' %}">Já teve a sua consulta? Deixe-nos a sua opinião</a></h3>

{% endblock %}

