@font-face {
    font-family: 'BauhausCustom';
    src: url('fonts/BauhausRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::selection {
    color: #fafafa;
    background-color: #4B7540;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: #fafafa;
    color: #4B7540;
    margin: 0;
    font-family: 'BauhausCustom';
    font-size: 1em;
}

pre, button {
    font-family: 'BauhausCustom', serif;
}

a, a:hover {
    text-decoration: none;
    color: #4B7540;
}

li {
    list-style: none;
}

#navbar {
    position: fixed;
    display: block;
    background-color: #4B7540;
    width: 100%;
    height: 120px;
    z-index: 5;
}

.nav-item {
    display: grid;
    height: 40px;
    background-color: #4B7540;
    overflow: hidden;
    transition: all .2s linear;
    text-align: center;
    border-radius: 5px;
}

.nav-item.expanded {
    height: 200px;
}

.nav-item a:hover {
    font-weight: bold;
}

.container {
    margin: auto;
}

#brand {
    height: 100px;
    display: inline-block;
}

#brand-img {
    height: 100px;
    float: left;
    margin-top: 10px;
}

#brand-name {
    float: left;
    color: #fafafa;
    font-size: 2.5em;
    margin: 35px 0 40px 10px;
}

#navbarToggle {
    border-radius: 5px;
    border: 3px solid #262626;
    background-color: #fafafa;
    padding: 0 5px;
    width: 50px;
    height: 50px;
    /*position: static;*/
    /*float: right;*/
    margin-top: auto;
    display: none;
}

.nav-menu {
    float: right;
    font-size: 1.5em;
    margin-top: 40px;
}

.nav-item {
    float: left;
    margin-right: 15px;
}

.nav-item-expansive a:nth-child(2) {
    margin-top: 10px;
}

.nav-item a {
    color: #fafafa;
}

#nav-menu-expandable.expanded {
    height: 380px;
    opacity: 100%;

}

#nav-menu-expandable {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    width: 35%;
    height: 0;
    background-color: #4B7540;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all .2s linear;
    opacity: 0;
}

#nav-menu-expandable .nav-item {
    width: 100%;
    padding-top: 10px;
}

.nav-item-separator {
    width: 90%;
    margin: 0 auto;
}

#main-content {
    padding-top: 140px;
    font-size: 1.2em;
    margin-bottom: 200px;
}

#contacts {
    background-color: #4B7540;
    color: #fafafa;
    height: 140px;
    width: 100%;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    padding: 10px 0;

}

#contacts .container {
    display: flex;
    justify-content: space-between;
}

.footer-info-block {
    margin-top: 15px;
}

#contacts .footer-info-block{
    align-self: center;
    text-align: center;
}

.footer-info-block a {
    display: inline-block;
    color: #fafafa;
}

.flex {
    display: flex;
}

.footer-title {
    font-size: 25px;
    margin-bottom: 15px;
    color: #fafafa;
}

.footer-list {
    padding: 0;
    margin: 0;
    display: flex;
}

.contact-column:nth-child(2) {
    margin-left: 10px;
}

.contact-column a {
    display: flex;
    color: #fafafa;
}

.contact-column a div {
    margin-left: 15px;
    font-size: 20px;
}

.image-contacts {
    width: 35px;
}

h1 {
    text-align: center;
    text-shadow: #4f4f4f 0.5px 0.5px;
    font-size: 3em;
    border-bottom: solid 3px #4f4f4f;
    width: 600px;
    margin: 20px auto;
}

#opinion-carousel {
    width: 700px;
    margin: 10px auto;
    position: relative;
    border: 3px solid black;
    border-radius: 10px;
}

#opinion-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    color: #fafafa;
    background-color: #4B7540;
}

.opinion {
    transition: all .5s ease-out;
    max-width: 700px;
    min-width: 700px;
}

.opinion-author {
    text-align: right;
}

.opinion-author, .opinion-text {
    padding: 5px 15px;
}

#opinion-form-name {
    margin-left: 35px;
}

.opinion-form-field {
    display: flex;
    align-items: center;
}

.opinion-input {
    margin-left: 20px;
}

#opinion-title {
    font-size: 2.5em;
}

#contacts-opinion-link:hover, .footer-info-block a:hover, .contact-link:hover  {
    font-weight: bold;
}

.hidden {
    display: none !important;
}

.response-message {
    font-weight: bold;
    font-size: 1.2em;
}

.scalable-img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#presentation-logo {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#credentials {
    text-align: center;
    font-weight: bold;
}

#osteopathy_advantages li, #pediatric_osteopathy_reasons li, #specializations li, .list-with-decorators {
    list-style: circle;
}

#container-history {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#image_history {
    width: 20%;
    margin-right: 30px;
}

table {
    width: 500px;
    color: white;
    padding: 5px;
}

table tr, table th {
    border: 1px solid #fafafa;
}

tr {
    background-color: #4B7540;
}

.table_empty_cell {
    background-color: #fafafa;
}

.centered-text {
    text-align: center;
}

.container-form {
    display: flex;
    flex-direction: column;
}

form {
    background-color: #4B7540;
    color: #fafafa;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
}

textarea {
    width: 100%;
    height: 100px;
}

button {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background-color: #4B7540;
    color: #fafafa;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    transition: all .2s linear;
}

button:hover {
    border-radius: 20px;
    background-color: #fafafa;
    color: #4B7540;
    font-weight: bold;
}

#opinions-link a {
    padding: 15px;
    transition: all .2s linear;
}

#opinions-link a:hover {
    font-weight: bolder;
    background-color: #4B7540;
    color: #fafafa;
    border-radius: 50%;
}

.centered-element {
    margin-left: auto;
    margin-right: auto;
}

#container-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}

.contacts-row {
    background-color: #4B7540;
    width: 60%;
    height: 225px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    box-shadow: black 10px 10px 10px;
    border-radius: 25px;
}

.contacts-row > a {
    color: #fafafa;
    margin: 5px 0;
}

.contacts-col {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts-col > img {
    margin-right: 15px;
    width: 40px;
}

#location-contacts-row {
    text-align: center;
    width: 70%;
}

#location-contacts-row iframe {
    margin-top: 25px;
    width: 90%;
    height: 350px;
    box-shadow: black 10px 10px 10px;
    border-radius: 25px;
    border: 25px solid black;
}

hr.contacts-separator {
    width: 90%;
    margin: 50px auto;
    border: 1px solid #4B7540;
}

#opinion-form-contacts-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
    padding: 10px 0;
}

#opinion-form-contacts-row h2 {
    color: #fafafa;
    margin: 0;
}

#opinion-form-contacts-row img {
    margin-top: 15px;

}

/* MEDIA QUERIES */

/********** Extra Large devices only **********/
@media (min-width: 1450px) {
    .container {
        width: 1250px;
    }
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1449px) {
    .container {
        width: 1100px;
    }
}

/********** Medium devices only **********/
@media (min-width: 993px) and (max-width: 1199px) {
    .container {
        width: 893px;
    }

    #nav-menu-regular, #contacts {
        display: none;
    }

    #navbarToggle {
        display: inline-block;
        float: right;
        margin-top: 35px;
    }

    #main-content {
        margin-bottom: 50px;
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 668px;
    }

    #nav-menu-regular, #contacts {
        display: none;
    }

    #navbarToggle {
        display: inline-block;
        float: right;
        margin-top: 35px;
    }

    #opinion-carousel {
        width: 668px;
    }

    .opinion {
        max-width: 668px;
        min-width: 668px;
    }

    .footer-title, .contact-column a div {
        font-size: 1em;
    }

    .footer-info-block a {
        width: 150px;
    }

    #main-content {
        margin-bottom: 50px;
    }

    #nav-menu-expandable.expanded {
        height: 320px;
    }
}

/********** Extra small devices only **********/
@media (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 380px;
    }

    #nav-menu-regular, #contacts, #brand-name {
        display: none;
    }

    #navbarToggle {
        display: inline-block;
        float: right;
        margin-top: 35px;
    }

    #nav-menu-expandable {
        width: 100%;
    }

    #nav-menu-expandable .nav-item{
        padding-bottom: 15px;
    }

    #nav-menu-expandable.expanded {
        height: 280px;
    }

    #opinion-carousel {
        width: 380px;
    }

    .opinion {
        max-width: 380px;
        min-width: 380px;
    }

    .footer-title, .contact-column a div {
        display: none;
    }

    .footer-info-block a {
        width: 150px;
    }

    #main-content {
        margin-bottom: 50px;
    }

    body {
        font-size: 0.9em;
    }

    #presentation-logo, h1 {
        width: 250px;
    }

    table {
        width: 380px;
    }

    form {
        width: 350px;
    }

    #opinions-link a {
        transition: none;
    }

    #opinions-link a:hover {
        background-color: #fafafa;
        color: #4B7540;
    }

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
    .container {
        width: 90%
    }

    #nav-menu-regular, #contacts, #brand-name {
        display: none;
    }

    #nav-menu-expandable {
        width: 100%;
        margin-top: -25px;
    }

    #nav-menu-expandable.expanded {
        height: 280px;
        opacity: 100%;
    }

    #navbarToggle {
        display: inline-block;
        float: right;
        margin-top: 15px;
    }

    #navbar, #navbar .container {
        height: 80px
    }

    #brand {
        width: 50%;
    }

    #brand-img {
        width: 60px;
        height: 60px;
    }

    #brand-name {
        font-size: 1.1em;
    }

    #main-content {
        padding-top: 80px;
        margin-bottom: 50px;
    }

    .footer-title, .contact-column a div {
        display: none;
    }

    .footer-info-block a {
        width: 150px;
    }

    h1 {
        width: 90%;
    }

    #opinion-carousel {
        width: 280px;
    }

    .opinion {
        max-width: 280px;
        min-width: 280px;
    }

    body {
        font-size: 0.9em;
    }

    #presentation-logo, h1 {
        width: 250px;
    }

    table {
        width: 340px;
    }

    form {
        width: 300px;
    }

    #opinions-link a {
        transition: none;
    }

    #opinions-link a:hover {
        background-color: #fafafa;
        color: #4B7540;
    }
}
