::selection {
    color: #fafaea;
    background-color: #2E7044;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: #fafaea;
    color: #2E7044;
    margin: 0;
    font-family: 'Amiri', serif;
}

pre {
    font-family: 'Amiri', serif;
}

a, a:hover {
    text-decoration: none;
    color: #2E7044;
}

li {
    list-style: none;
}

#navbar {
    position: fixed;
    display: block;
    background-color: #2E7044;
    width: 100%;
    height: 120px;
    z-index: 5;
}

.nav-item {
    display: grid;
    height: 40px;
    background-color: #2E7044;
    overflow: hidden;
    transition: all .2s linear;
    text-align: center;
    border-radius: 5px;
}

.nav-item.expanded {
    height: 200px;
}

.nav-item a:hover {
    font-weight: bold;
}

.container {
    margin: auto;
}

#brand {
    height: 100px;
    display: inline-block;
}

#brand-img {
    height: 100px;
    float: left;
    margin-top: 10px;
}

#brand-name {
    float: left;
    color: #fafaea;
    font-size: 2.5em;
    margin: 30px 0 40px 10px;
}

#navbarToggle {
    border-radius: 5px;
    border: 3px solid #262626;
    background-color: #fafaea;
    padding: 0 5px;
    width: 50px;
    height: 50px;
    /*position: static;*/
    /*float: right;*/
    margin-top: auto;
    display: none;
}

.nav-menu {
    float: right;
    font-size: 1.5em;
    margin-top: 40px;
}

.nav-item {
    float: left;
    margin-right: 15px;
}

.nav-item a {
    color: #fafaea;
}

#nav-menu-expandable.expanded {
    height: 380px;
    opacity: 100%;

}

#nav-menu-expandable {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    width: 35%;
    height: 0;
    background-color: #2E7044;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all .2s linear;
    opacity: 0;
}

#nav-menu-expandable .nav-item {
    /*align-self: center;*/
    width: 100%;
}

.nav-item-separator {
    width: 90%;
    margin: 0 auto;
}

#main-content {
    padding-top: 140px;
    font-size: 1.2em;
    margin-bottom: 200px;
}

#contacts {
    background-color: #2E7044;
    color: #fafaea;
    height: 140px;
    width: 100%;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    padding: 10px 0;

}

#contacts .container {
    display: flex;
    justify-content: space-between;
}

#contacts .footer-info-block{
    align-self: center;
    text-align: center;
}

.footer-info-block a {
    display: inline-block;
    color: #fafaea;
}

.flex {
    display: flex;
}

.footer-title {
    font-size: 25px;
    color: #fafaea;
}

.footer-list {
    padding: 0;
    margin: 0;
    display: flex;
}

.contact-column:nth-child(2) {
    margin-left: 10px;
}

.contact-column a {
    display: flex;
    color: #fafaea;
}

.contact-column a div {
    margin-left: 15px;
    font-size: 20px;
}

.image-contacts {
    width: 35px;
}

h1 {
    text-align: center;
    text-shadow: #4f4f4f 0.5px 0.5px;
    font-size: 3em;
    border-bottom: solid 3px #4f4f4f;
    width: 500px;
    margin: 20px auto;
}

#opinion-carousel {
    width: 700px;
    margin: 10px auto;
    position: relative;
    border: 3px solid black;
    border-radius: 10px;
}

#opinion-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    color: #fafaea;
    background-color: #2E7044;
}

.opinion {
    transition: all .5s ease-out;
    max-width: 700px;
    min-width: 700px;
}

.opinion-author {
    text-align: right;
}

.opinion-author, .opinion-text {
    padding: 5px 15px;
}

#opinion-form-name {
    margin-left: 35px;
}

#opinion-form-post {
    width: 50%;
    height: 150px;
}

.opinion-form-field {
    display: flex;
    align-items: center;
}

.opinion-input {
    margin-left: 20px;
}

#contacts-opinion-link:hover, .footer-info-block a:hover, .contact-link:hover  {
    font-weight: bold;
}

.hidden {
    display: none !important;
}

.response-message {
    font-weight: bold;
    font-size: 1.2em;
}

.scalable-img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#presentation-logo {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#osteopathy_advantages li {
    list-style: circle;
}

#container-history {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#image_history {
    width: 20%;
    margin-right: 30px;
}


/* MEDIA QUERIES */

/********** Extra Large devices only **********/
@media (min-width: 1450px) {
    .container {
        width: 1250px;
    }
}

/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1449px) {
    .container {
        width: 1100px;
    }
}

/********** Medium devices only **********/
@media (min-width: 993px) and (max-width: 1199px) {
    .container {
        width: 893px;
    }

    #nav-menu-regular {
        display: none;
    }

    #navbarToggle {
        display: inline-block;
        float: right;
        margin-top: 35px;
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 668px;
    }

    #nav-menu-regular {
        display: none;
    }

    #navbarToggle {
        display: inline-block;
        float: right;
        margin-top: 35px;
    }

    #opinion-carousel {
        width: 668px;
    }
    .opinion {
        max-width: 668px;
        min-width: 668px;
    }

    .footer-title, .contact-column a div {
        font-size: 1em;
    }

    .footer-info-block a {
        width: 150px;
    }


}

/********** Extra small devices only **********/
@media (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 380px;
    }

    #nav-menu-regular {
        display: none;
    }

    #navbarToggle {
        display: inline-block;
        float: right;
        margin-top: 35px;
    }

    #nav-menu-expandable {
        width: 100%;
    }

    #nav-menu-expandable.expanded {
        height: 240px;
    }

    #opinion-carousel {
        width: 380px;
    }

    .opinion {
        max-width: 380px;
        min-width: 380px;
    }

    .footer-title, .contact-column a div {
        display: none;
    }

    .footer-info-block a {
        width: 150px;
    }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
    .container {
        width: 90%
    }

    #nav-menu-regular {
        display: none;
    }

    #nav-menu-expandable {
        width: 100%;
    }

    #nav-menu-expandable.expanded {
        height: 280px;
        opacity: 100%;
    }

    #navbarToggle {
        display: inline-block;
        float: right;
        margin-top: 15px;
    }

    #navbar, #navbar .container {
        height: 80px
    }

    #brand {
        width: 50%;
    }

    #brand-img {
        width: 60px;
        height: 60px;
    }

    #brand-name {
        font-size: 1.1em;
    }

     #main-content {
        padding-top: 80px;
    }


    #contacts {
        height: 80px;
    }

    .footer-title, .contact-column a div {
        display: none;
    }

    .footer-info-block a {
        width: 150px;
    }

    h1 {
        width: 90%;
    }

    #opinion-carousel {
        width: 280px;
    }
    .opinion {
        max-width: 280px;
        min-width: 280px;
    }
}
